LSDelevaryNote/LSDelevaryNote/Service References/ERPServiceReference/GetOnhandQuantity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrganizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuantityResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="branch_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branch_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="item_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="item_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:GetQuantity" />
  </wsdl:message>
  <wsdl:message name="GetQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:GetQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="GetOnhandQuantitySoap">
    <wsdl:operation name="GetQuantity">
      <wsdl:input message="tns:GetQuantitySoapIn" />
      <wsdl:output message="tns:GetQuantitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetOnhandQuantitySoap" type="tns:GetOnhandQuantitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuantity">
      <soap:operation soapAction="http://tempuri.org/GetQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetOnhandQuantitySoap12" type="tns:GetOnhandQuantitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuantity">
      <soap12:operation soapAction="http://tempuri.org/GetQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetOnhandQuantity">
    <wsdl:port name="GetOnhandQuantitySoap" binding="tns:GetOnhandQuantitySoap">
      <soap:address location="http://200.100.100.23/hisense/GetOnhandQuantity.asmx" />
    </wsdl:port>
    <wsdl:port name="GetOnhandQuantitySoap12" binding="tns:GetOnhandQuantitySoap12">
      <soap12:address location="http://200.100.100.23/hisense/GetOnhandQuantity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>